.App {
  text-align: center;
}
  .app-header {
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .footer-info {
    color: #999;
    background-color: #fcfcfc;
    text-align: center;
    margin-top: auto;
  }
